[user]
  name = Alec Lomas
  email = alec@lowmess.com

[github]
  user = lowmess

[core]
  excludesfile = ~/dotfiles/git/.gitignore_global

[init]
  defaultBranch = main

[commit]
  gpgsign = true
  verbose = true

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[merge]
  conflictstyle = zdiff3

[rerere]
  enabled = true
  autoupdate = true

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[pull]
  rebase = true

[fetch]
  prune = true
  pruneTags = true
  all = true

[branch]
  sort = -committerdate

[tag]
  sort = version:refname

[column]
  ui = auto

[help]
  autocorrect = prompt

[alias]
  eat = stash
  poop = stash pop
  a = add .
  # delete merged branches
  purge = "!git branch --merged | grep -v \"\\*\\|master\\|main\\|develop\" | xargs git branch -d"
  # Switch to a branch, creating it if necessary
  co = "!f() { git checkout \"$1\" 2> /dev/null || git checkout -b \"$1\"; }; f"
  # use gitmoji
  moji = "!gitmoji -c"
  # list new commits, in a pretty way
  ls = !"BASE=$1; git log --pretty=oneline --abbrev-commit ${BASE:-master}..HEAD"
