[user]
  name = Alec Lomas
  email = alec@lowmess.com

[github]
  user = lowmess

[core]
  excludesfile = ~/dotfiles/git/.gitignore_global
  editor = nano

[push]
  default = simple

[pull]
  rebase = true

[alias]
  eat = stash
  poop = stash pop
  a = add .
  # delete merged branches
  purge = "!git branch --merged | grep -v \"\\*\\|master\\|develop\" | xargs git branch -d"
  # Switch to a branch, creating it if necessary
  co = "!f() { git checkout \"$1\" 2> /dev/null || git checkout -b \"$1\"; }; f"
  # use gitmoji
  moji = "!gitmoji -c"

[hub]
  protocol = https
