[user]
  name = Alec Lomas
  email = alec@lowmess.com

[github]
  user = lowmess

[core]
  excludesfile = ~/dotfiles/git/.gitignore_global
  editor = nano

[push]
  default = simple

[alias]
  eat = stash
  poop = stash pop
  a = add .
  # Switch to a branch, creating it if necessary
  co = "!f() { git checkout \"$1\" 2> /dev/null || git checkout -b \"$1\"; }; f"
  # use gitmoji
  moji = "!f() { gitmoji -c; }; f"

[hub]
  protocol = https
